<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Gleb_RequestPrise::price_requests" title="Price Requests" module="Gleb_RequestPrise" sortOrder="1000" parent="Magento_Customer::customer" resource="Magento_Backend::content" action="customer/pricerequests"/>
    </menu>
</config>
