<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="identy-verification_customer_register_succes" instance="Gleb\IdentityVerification\Model\Observer" />
    </event>
    <event name="customer_save_before">
        <observer name="identy-verification_customer_save_before" instance="Gleb\IdentityVerification\Model\ObserverProfileSaveBefore" />
    </event>
</config>
